In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from os import listdir,chdir
from os.path import abspath,basename,dirname,join
import sklearn.preprocessing as prepro
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:
abalone = pd.read_csv("abalone_dataset.csv")

In [3]:
abalone.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,type
0,M,0.535,0.420,0.150,0.6995,0.2575,0.1530,0.2400,3
1,I,0.510,0.380,0.115,0.5155,0.2150,0.1135,0.1660,1
2,I,0.185,0.130,0.045,0.0290,0.0120,0.0075,0.0095,1
3,M,0.550,0.450,0.170,0.8100,0.3170,0.1570,0.2200,3
4,I,0.535,0.415,0.150,0.5765,0.3595,0.1350,0.2250,1

In [4]:
abalone.describe()

,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,type
count,3132.000000,3132.000000,3132.000000,3132.000000,3132.000000,3132.000000,3132.000000,3132.000000
mean,0.521392,0.405865,0.138263,0.818738,0.355398,0.178349,0.235616,1.991379
std,0.120756,0.099600,0.039206,0.489560,0.221473,0.109554,0.139215,0.824561
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.345000,0.110000,0.436375,0.181500,0.090875,0.127500,1.000000
50%,0.540000,0.420000,0.140000,0.787000,0.330500,0.168000,0.225000,2.000000
75%,0.610000,0.480000,0.165000,1.141625,0.497500,0.250125,0.323625,3.000000
max,0.815000,0.650000,0.515000,2.825500,1.488000,0.760000,1.005000,3.000000

# Transformando o sex em 3 colunas binarias

In [5]:
abalone['sex'] = LabelEncoder().fit_transform(abalone['sex'].tolist())

In [6]:
abalone

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,type
0,2,0.535,0.420,0.150,0.6995,0.2575,0.1530,0.2400,3
1,1,0.510,0.380,0.115,0.5155,0.2150,0.1135,0.1660,1
2,1,0.185,0.130,0.045,0.0290,0.0120,0.0075,0.0095,1
3,2,0.550,0.450,0.170,0.8100,0.3170,0.1570,0.2200,3
4,1,0.535,0.415,0.150,0.5765,0.3595,0.1350,0.2250,1
5,0,0.700,0.575,0.205,1.7730,0.6050,0.4470,0.5380,3
6,2,0.400,0.305,0.085,0.2970,0.1080,0.0705,0.1000,2
7,0,0.620,0.480,0.165,1.0125,0.5325,0.4365,0.3240,2
8,2,0.655,0.515,0.200,1.3730,0.4430,0.3375,0.4900,3
9,0,0.595,0.475,0.165,1.1480,0.4440,0.2140,0.3700,2
10,0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,2
11,2,0.400,0.290,0.115,0.2795,0.1115,0.0575,0.0750,2
12,0,0.470,0.375,0.125,0.5615,0.2520,0.1370,0.1800,2
13,2,0.375,0.300,0.100,0.2465,0.1040,0.0475,0.0830,3
14,2,0.645,0.505,0.165,1.3070,0.4335,0.2620,0.5200,2
15,1,0.520,0.390,0.140,0.7325,0.2415,0.1440,0.2600,3
16,0,0.600,0.465,0.150,1.1025,0.5455,0.2620,0.2500,1
17,1,0.380,0.290,0.100,0.2370,0.1080,0.0395,0.0820,1
18,1,0.430,0.330,0.100,0.4490,0.2540,0.0825,0.0970,1
19,2,0.595,0.455,0.155,1.0410,0.4160,0.2105,0.3650,3
20,1,0.410,0.300,0.100,0.2820,0.1255,0.0570,0.0875,1
21,1,0.550,0.420,0.155,0.9120,0.4950,0.1805,0.2050,2
22,1,0.550,0.425,0.150,0.7665,0.3390,0.1760,0.2100,1
23,1,0.290,0.210,0.060,0.1045,0.0415,0.0220,0.0350,1
24,2,0.445,0.345,0.140,0.4760,0.2055,0.1015,0.1085,3
25,1,0.450,0.340,0.125,0.4045,0.1710,0.0700,0.1345,1
26,2,0.630,0.515,0.170,1.3850,0.6355,0.2955,0.3800,3
27,1,0.370,0.280,0.100,0.2210,0.1165,0.0265,0.0635,1
28,2,0.695,0.530,0.150,1.4770,0.6375,0.3025,0.4300,3
29,1,0.525,0.400,0.130,0.6455,0.3250,0.1245,0.1700,1
...,...,...,...,...,...,...,...,...,...
3102,2,0.460,0.365,0.125,0.4670,0.1895,0.0945,0.1580,2
3103,2,0.535,0.405,0.140,0.7315,0.3360,0.1560,0.1900,1
3104,0,0.645,0.510,0.155,1.1290,0.5015,0.2400,0.3420,2
3105,0,0.545,0.430,0.140,0.8320,0.4355,0.1700,0.2010,2
3106,0,0.635,0.485,0.165,1.2695,0.5635,0.3065,0.3395,3
3107,1,0.410,0.300,0.115,0.2595,0.0970,0.0515,0.0800,2
3108,1,0.270,0.200,0.070,0.1000,0.0340,0.0245,0.0350,1
3109,0,0.340,0.255,0.085,0.2040,0.0970,0.0210,0.0500,1
3110,0,0.555,0.420,0.140,0.8680,0.3300,0.2430,0.2100,3
3111,0,0.675,0.535,0.220,1.6040,0.6175,0.4255,0.4530,3
3112,2,0.550,0.405,0.140,0.8025,0.2440,0.1635,0.2550,2
3113,1,0.575,0.440,0.125,0.8515,0.4555,0.1715,0.1965,2
3114,1,0.310,0.235,0.070,0.1510,0.0630,0.0405,0.0450,1
3115,2,0.505,0.385,0.150,0.6415,0.2460,0.1520,0.2150,3
3116,0,0.515,0.395,0.165,0.7565,0.1905,0.1700,0.3205,2
3117,1,0.500,0.395,0.145,0.7865,0.3320,0.1815,0.2455,1
3118,0,0.650,0.515,0.215,1.4980,0.5640,0.3230,0.4250,3
3119,2,0.425,0.340,0.120,0.3880,0.1490,0.0870,0.1250,2
3120,2,0.740,0.580,0.205,2.3810,0.8155,0.4695,0.4880,3
3121,1,0.515,0.390,0.120,0.5650,0.2350,0.1350,0.1790,2
3122,2,0.525,0.400,0.140,0.7325,0.3340,0.1575,0.1700,3
3123,2,0.625,0.475,0.175,1.3405,0.6560,0.2830,0.3370,2
3124,0,0.550,0.410,0.145,0.8285,0.3095,0.1905,0.2500,3
3125,2,0.490,0.420,0.125,0.6090,0.2390,0.1435,0.2200,3
3126,0,0.620,0.510,0.180,1.2330,0.5920,0.2740,0.3220,2
3127,0,0.545,0.405,0.175,0.9800,0.2585,0.2070,0.3800,3
3128,2,0.655,0.525,0.185,1.2590,0.4870,0.2215,0.4450,3
3129,1,0.450,0.340,0.120,0.4925,0.2410,0.1075,0.1200,1
3130,0,0.520,0.410,0.155,0.7270,0.2910,0.1835,0.2350,3
3131,0,0.640,0.480,0.195,1.1435,0.4915,0.2345,0.3530,2

In [7]:
abalone.to_csv("abalone_sex_bin.csv", index=False)

In [8]:
#transformed_sex_feature = OneHotEncoder().fit_transform(abalone['sex'].values.reshape(-1,1)).toarray()
#df_sex_encoded = pd.DataFrame(transformed_sex_feature, columns = ["sex_"+str(int(i)) for i in range(transformed_sex_feature.shape[1])])
#abalone = pd.concat([abalone, df_sex_encoded], axis=1)

# Scaling
- Transformando todos os valores pra o intervalo entre (0,1)

In [9]:
numsei = abalone[["sex","type"]].astype('int64')

In [10]:
minmax_scaler = prepro.MinMaxScaler(feature_range=(0,1))

In [11]:
abaloneMinMax = minmax_scaler.fit_transform(abalone[abalone.columns[1:-1]])

In [12]:
abalone_scaled = pd.DataFrame(abaloneMinMax, columns=abalone.columns[1:-1])

In [13]:
abalone_scaled = pd.merge(abalone_scaled,numsei, how='outer', on=abalone.index)

In [14]:
abalone_scaled = abalone_scaled.drop(columns='key_0')

In [15]:
abalone_scaled.head()

,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,sex,type
0,0.621622,0.613445,0.291262,0.247034,0.172495,0.200790,0.237668,2,3
1,0.587838,0.546218,0.223301,0.181866,0.143914,0.148782,0.163926,1,1
2,0.148649,0.126050,0.087379,0.009563,0.007397,0.009217,0.007972,1,1
3,0.641892,0.663866,0.330097,0.286170,0.212508,0.206057,0.217738,2,3
4,0.621622,0.605042,0.291262,0.203471,0.241089,0.177090,0.222720,1,1

In [16]:
abalone_scaled.to_csv("abalone_min_max.csv", index=False)

# Normalization
- L1 -> A soma dos valores absolutos de cada linha é igual 1.
- L2 -> A soma dos quadrados de cada linha é igual 1.

In [17]:
abalone_l1 = prepro.normalize(abalone.drop(columns=abalone.columns[7:], axis=1),norm='l1')
abalone_l1 = pd.DataFrame(abalone_l1, columns=abalone.columns[:-4])
abalone_l1 = pd.merge(abalone_l1,numsei, how='outer', on=abalone.index)
abalone_l1 = abalone_l1.drop(columns='key_0')

ValueError: Shape of passed values is (7, 3132), indices imply (5, 3132)

In [ ]:
abalone_l1.head()

In [ ]:
abalone_l1.to_csv("abalone_L1.csv", index=False)

In [ ]:
abalone_l2 = prepro.normalize(abalone.drop(columns=abalone.columns[7:], axis=1),norm='l2')
abalone_l2 = pd.DataFrame(abalone_l2, columns=abalone.columns[:-4])
abalone_l2 = pd.merge(abalone_l2,numsei, how='outer', on=abalone.index)
abalone_l2 = abalone_l2.drop(columns='key_0')

In [ ]:
abalone_l2.head()

In [ ]:
abalone_l1.to_csv("abalone_L2.csv", index=False)