In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from os import listdir,chdir
from os.path import abspath,basename,dirname,join
import sklearn.preprocessing as prepro
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:
abalone = pd.read_csv("abalone_app.csv")

In [3]:
abalone['sex'] = LabelEncoder().fit_transform(abalone['sex'].tolist())

In [4]:
abalone.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight
0,2,0.600,0.480,0.175,1.2290,0.4125,0.2735,0.4150
1,0,0.545,0.385,0.150,1.1185,0.5425,0.2445,0.2845
2,0,0.645,0.520,0.180,1.2850,0.5775,0.3520,0.3170
3,2,0.640,0.510,0.170,1.3715,0.5670,0.3070,0.4090
4,0,0.655,0.540,0.215,1.5555,0.6950,0.2960,0.4440

In [5]:
# transformed_sex_feature = OneHotEncoder().fit_transform(abalone['sex'].values.reshape(-1,1)).toarray()
# df_sex_encoded = pd.DataFrame(transformed_sex_feature, columns = ["sex_"+str(int(i)) for i in range(transformed_sex_feature.shape[1])])
# abalone = pd.concat([abalone, df_sex_encoded], axis=1)

In [6]:
# abalone = abalone[['length','diameter','height','whole_weight','shucked_weight','viscera_weight','shell_weight','sex_0','sex_1','sex_2']]

In [7]:
numsei = abalone[["sex"]].astype('int64')

In [8]:
minmax_scaler = prepro.MinMaxScaler(feature_range=(0,1))

In [9]:
abaloneMinMax = minmax_scaler.fit_transform(abalone[abalone.columns[1:]])

In [10]:
abalone_scaled = pd.DataFrame(abaloneMinMax, columns=abalone.columns[1:])

In [11]:
abalone_scaled = pd.merge(abalone_scaled,numsei, how='outer', on=abalone.index)

In [12]:
abalone_scaled = abalone_scaled.drop(columns='key_0')

In [13]:
abalone_scaled.head()

,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,sex
0,0.727273,0.727273,0.139640,0.477335,0.354641,0.493126,0.465909,2
1,0.636364,0.535354,0.117117,0.433780,0.468476,0.439963,0.317614,0
2,0.801653,0.808081,0.144144,0.499409,0.499124,0.637030,0.354545,0
3,0.793388,0.787879,0.135135,0.533504,0.489930,0.554537,0.459091,2
4,0.818182,0.848485,0.175676,0.606031,0.602014,0.534372,0.498864,0

In [14]:
abalone_scaled.to_csv("abalone_app_min_max.csv", index=False)